@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(HI_XiYsKILxRpg3hIP6sJ7fM7PqtlsnDvecv.ttf) format('truetype');
}
